[user]
	name = Luke Thompson
	email = lucas.thompson@uptake.com
[url "ssh://git@git.uptake.com:7999/"]
	insteadOf = https://git.uptake.com/scm/
[lucas]
	thompson = Luke Thompson
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@git.uptake.com:7999/"]
	insteadOf = https://git.uptake.com/scm/

[credential "https://dev.azure.com"]
	useHttpPath = true
