[user]
	name = Luke Thompson
	email = name@blah.com
[url "ssh://git@git.company.com:7999/"]
	insteadOf = https://git.company.com/scm/
[lucas]
	thompson = Luke Thompson
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@git.company.com:7999/"]
	insteadOf = https://git.company.com/scm/

[credential "https://.azure.com"]
	useHttpPath = true
